*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors
/.idea/AndroidProjectSystem.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/migrations.xml
/.idea/appInsightsSettings.xml
/.idea/runConfigurations.xml
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
